.link-error-container,
.screen-error-container,
.pdf-error-container,
.pq-error-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
    z-index: 2;
}

.link-error-container.show-link-error,
.screen-error-container.show-screen-error,
.pdf-error-container.show-pdf-error,
.pq-error-container.show-pq-error {
  opacity: 1;
  pointer-events: auto;
}

.link-error-box,
.screen-error-box,
.pdf-error-box,
.pq-error-box {
    background-color: #f4f4f4;
    border: 1px solid #cc0000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
    border-radius: 5px;
    cursor: url('/important/images/archimedes_pointing.png') 16 4, pointer;
}