html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  cursor: url('archimedes_cur.png') 16 4, auto;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
  cursor: url('archimedes_pointing.png') 16 4, pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    line-height: 1.6;
    margin: 0;
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

  .spacer {
    height: 4rem
  }

  header {
    position: fixed;
    top: 0;
    left: 2rem;
    right: 2rem;
    height: 4rem;
    background-color: #4caf4f;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
    box-shadow: 2px 2px 5px #222222AA;
  }

  header h1 {
    color: white;
  }

  .breadcrumb-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }


  .breadcrumbs {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem auto;
    font-size: 0.9rem;
    background-color: #4caf4f;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    box-shadow: 2px 2px 5px #222222AA;
    height: 2rem;
  }
    
  .breadcrumbs span { text-decoration: underline; }

  .breadcrumbs a {
    color: white;
    text-align: center;
    transition: font-size 0.3s ease;
    text-decoration: none;
  }

  .breadcrumbs a:hover {
    font-size: 1rem;
    text-decoration: none;
  }

  .breadcrumbs :not(:last-child)::after {
    content: " / ";
    margin: 0 4px 4px 0;
  }

  

  .sub-links {
    position: sticky;
    top: 4rem;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background: #f0f0f0;
    z-index: 50;
    box-shadow: 2px 2px 5px #222222AA;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    box-sizing: border-box;
  }

  .sub-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  .sub-links a:hover {
    text-decoration: underline;
    color: #333;
    font-weight: bold;
    transform: scale(1.08);
  }

  .sub-links a.active {
  text-decoration: underline;
  font-weight: 700;
  color: #000;
}



main {
    padding: 20px;
}

.header-h1-shadow {
  text-shadow: 5px 5px 5px #11111190
}

p {
  margin: 1rem 0;
}

.footer-text {
  font-size: smaller;
}

h2 {
  text-decoration: underline;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  color: #111;
}

h1, h3, h4 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  color: #111;
}


section {
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
  scroll-margin-top: 7rem;
}

.maths {
  text-align: center;
  margin: 1.2rem 0;
  font-size: 1.1rem;
}

strong {
  font-weight: 600;
}

.topic-list {
    list-style-type: none;
    padding-left: 0;
}

.topic-list li {
    background-color: #e9f7e7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.topic-list li:hover {
    background-color: #d1e8d3;
}

a:hover {
  text-decoration: underline;
}

.blue-text {
  color: #005cc5;
  text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.p-box {
    border-radius: 10px;
    background-color: lightblue;
    border: solid;
}


.math-box {
  border-left: 5px solid #4CAF50;
  background: #e9fdff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
}

.math-box-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.theorem-box { border-color: #2b7a78; }
.definition-box { border-color: #8a4fff; }
.example-box { border-color: #ff9800; }

.math-box-body p { margin: 0; }


.collapsible-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  margin-top: 10px;
}

.toggle-working {
  margin-bottom: 8px;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  cursor: url('archimedes_pointing.png') 16 4, pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}

.toggle-working:hover {
  background: #f1f1f1;
}


.toggle-icon {
  background: none;
  border: none;
  cursor: url('archimedes_pointing.png') 16 4, pointer;
  font-size: 1rem;
  padding: 0;
  margin-left: 10px;
  transition: transform 1s ease;
}

.toggle-icon.open {
  transform: rotate(-180deg);
}


.button-style {
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
}

.button-style-box {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    display: inline-block;
}

mjx-container {
  margin: 1.2rem 0;
}



/* -----Burger Menu----- */

.hamburger {
  position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: url('archimedes_pointing.png') 16 4, pointer;
    z-index: 2;
    top: 10px;
    right: 10px;
}

.hamburger div {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.burger-toggle-btn {
    cursor: url('archimedes_pointing.png') 16 4, pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

.burger-toggle-btn:hover {
    background-color: #555;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 15px 50px 0;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.menu.open {
    transform: translateX(300px);
}

.menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.menu::-webkit-scrollbar-thumb {
    background: transparent;
}

.menu::-webkit-scrollbar-track {
    background: transparent;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px
}

.submenu a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 5px 0;
    text-align: left;
    transition: background-color 0.3s, transform 0.3s;
}

.submenu a:hover {
    background-color: #555;
}

.submenu.open {
    display: flex;
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.arrow.open {
    transform: rotate(90deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
