/* =========================
   Dark mode ONLY
   ========================= */

.dark {
  --bg-main: #1f1d1d;
  --bg-soft: #1e1e1e;
  --bg-box: #242424;

  --text-main: #eaeaea;
  --text-muted: #b0b0b0;
  --text-link: #8ab4f8;

  --border-soft: #444444;

  --green-main: #2e7939;
  --green-dark: #255c28;
  --green-hover: #115513;
  --header-btn-shadow: #132d14;
}

.dark body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.dark p,
.dark li {
  color: var(--text-main);
}

.dark .foot-note {
  color: var(--text-muted);
}

.dark a {
  color: var(--text-link);
}

.dark section {
  border-bottom: 1px solid var(--border-soft);
}

/* =========================
   Headings
   ========================= */

.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: var(--text-main);
}

/* =========================
   Boxes & UI
   ========================= */

.dark .topic-list > li {
  background-color: var(--bg-soft);
}

.dark .topic-list > li:hover {
  background-color: #2a2a2a;
}

.dark .math-box {
  background-color: var(--bg-box);
}

.dark .toggle-working,
.dark .button-style,
.dark .button-style-box {
  background-color: var(--bg-box);
  color: var(--text-main);
  border-color: var(--border-soft);
}

.dark .toggle-working:hover,
.dark .button-style:hover {
  background-color: var(--bg-soft);
}

/* =========================
   Header / nav
   ========================= */

.dark .site-header,
.dark .breadcrumbs {
  background-color: var(--green-main);
}

.dark .header-btn {
  background-color: var(--green-dark);
}

.dark .header-btn:hover {
  background-color: var(--green-hover);
  box-shadow:
  0 8px 0 var(--header-btn-shadow),
  0 14px 28px rgba(0,0,0,0.4);
}

.dark .header-btn {
    box-shadow:
    0 6px 0 var(--header-btn-shadow),
    0 10px 20px rgba(0,0,0,0.35);
}

/* =========================
   Burger menu
   ========================= */

.dark .menu {
  background-color: #1c1c1c;
}

.dark .menu a {
  color: #eaeaea;
}

.dark .menu a:hover {
  background-color: #333333;
}

.dark .hamburger div {
  background-color: #eaeaea;
}

/* =========================
   Error boxes
   ========================= */

.dark .link-error-box,
.dark .screen-error-box,
.dark .pdf-error-box,
.dark .pq-error-box,
.dark .pdf-choice-error-box,
.dark .pdf-download-error-box {
  background-color: #1f1f1f;
  color: #eaeaea;
  border-color: #ff5555;
}

.reduced-motion {
  scroll-behavior: auto;
}

.reduced-motion * {
  transition: none;
  transform: none;
}


.reduced-motion .breadcrumbs a:hover{
  font-size: 1em;
  text-decoration: underline;
}
.reduced-motion .topic-list > li {
    transition: none;
}

.reduced-motion .topic-list > li:hover {
    translate: none;
    box-shadow: none;
}



.show-working .toggle-icon.open {
  transform: rotate(-180deg);
}