.reduced-motion {
  scroll-behavior: auto;
}

.reduced-motion * {
  transition: none;
  transform: none;
}


.reduced-motion .breadcrumbs a:hover{
  font-size: 1em;
  text-decoration: underline;
}
.reduced-motion .topic-list > li {
    transition: none;
}

.reduced-motion .topic-list > li:hover {
    translate: none;
    box-shadow: none;
}



.show-working .toggle-icon.open {
  transform: rotate(-180deg);
}